.chats-components{
          width:100%;
          height:100%;
          display:flex;
          flex-direction: column;

}
.chats-components .title-bar{
          width:100%;
          height: 10%;
          padding:10px;
          display:flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-between!important;
          background-color: rgb(4, 66, 107);
}
.chats-components .title-bar span{
          color:white;
          font-size: 25px;
}
.chats-components .message-bar{
          width:100%;
          height: 10%;
          padding:10px;
          display:flex;
          justify-content: center;
          background-color: rgb(4, 66, 107);
          align-items: center;

}
.chats-components .message-bar form{
          width:80%;
          display: flex;
          justify-content: space-between;
          padding: 10px 0px;
}
.chats-components .message-bar form input{
          width: 60%;
          border: none;
          outline: none;
          background-color: white;
          border-radius: 10px;
          padding:0px 10px;
          color:black;
          font-size: 15px;
}
.chats-components .message-bar form input::placeholder{
          font-size: 15px;
}
.chats-components .message-bar form button{
          border-radius: 50%;
          border: none;

}
.chats-components .message-bar form button i{
          font-size: 20px;
          padding:10px;
          border-radius: 50%;
          color: black;
          background-color: white;
}
.chats-components .chats{
          width:100%;
          background: none;
          height: 80%;
          display: flex;
          flex-direction: column;
          overflow-y: scroll;

}
.chats-components .chats::-webkit-scrollbar{
          display: none;
}
.chats-components .chats span.left{
          width: 40%;
          padding: 0px 10px;
          margin: 10px 0px ;
          margin-right: 60%;
          
       
          

}
.chats-components .chats span.right{
          width: 40%;
          
          margin: 10px 0px ;
          margin-left: 60%;
          padding: 0px 10px;
         

}
.top-chat-bar{
          width: 100%;
          padding: 5px;
          font-size: 10px;
          color: grey;
          background-color: rgb(4, 66, 107);
          display: none;
        }
@media (max-width:500px){
          .chats-components .title-bar span{
                    font-size: 15px;
          }
          .chats-components .message-bar form input::placeholder{
                    font-size: 15px;
          }
          .chats-components .message-bar form input{
                    font-size: 15px;
                    width: 80%;
                    padding: 5px!important;
                    border-radius: 5px;
          }
          .chats-components .message-bar form button i{
                    font-size: 15px;
                    padding: 10px;
          }
          .top-chat-bar{

                    display: flex;
                    font-size: 10px;
                    justify-content: flex-end;
                    align-items: center;
                  }

          .chats-components .title-bar{
                    height: 8%;
                    
          
          }
          .chats-components .message-bar{
                    height: 8%;
          }
          .chats-components .chats{
                    height: 84%;
          }

}